.featured
  opacity: 0
  transition: opacity 250ms
  
  .pace-done &
    opacity: 1
  
  &__slides
    position: relative
    width: 100%
    padding-bottom: 100%
    // opacity: 0
    // transition: opacity 1.5s

    @include media($from-small)
      padding-bottom: per-width(16,9)

    // &.flickity-enabled
    //   opacity: 1

  &__slide
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: hidden
    opacity: 0
    transition: opacity 500ms

    // Loading fix
    &:first-of-type
      z-index: 90

    &.is-selected
      opacity: 1
    
    img,
    video
      position: absolute
      top: 50%
      left: 50%
      width: auto
      min-width: 100%
      height: auto
      min-height: 100%
      max-height: 100%
      transform: translate(-50%,-50%)
    
    video
      @include media(max-width $to-small)
        display: none
    
    &--video
      // when item has a video

    &-content,
    &-image,
    &-video
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      overflow: hidden
    
    &-content
      display: flex
      flex-wrap: nowrap
      align-items: center
      align-content: center
      z-index: 3
      text-align: center
      padding: em-calc(16)

      @include media($from-small)
        padding: em-calc(32)

      &__title
        @extend .hidden
        width: 100%

    &-image
      z-index: 2

      @include media($from-small)
        opacity: 1
        transition: opacity 500ms ease-in-out

        .featured__slide--video-play &
          opacity: 0

    &-video
      z-index: 1

  &__link
    transform: scale(1.005)
