.single

  &__content
    display: flex
    flex-wrap: wrap
    margin-top: em-calc(16)
    margin-bottom: em-calc(38)

    opacity: 0
    transition: opacity 250ms
    transition-delay: 250ms

    @include media(max-width $to-small)
      margin-left: em-calc(16)
      margin-right: em-calc(16)

    @include media($from-small)
      width: calc(#{100% - ($gutter * 2)} + #{em-calc(32)})
      margin: em-calc(20) auto em-calc(48)

    .pace-done &
      opacity: 1

    &-header
      @include media($from-small)
        padding-left: em-calc(16)
        padding-right: em-calc(16)

      @include media(max-width $to-medium)
        order: 1
        width: 50%

      @include media($from-medium)
        width: (100% / 3)

      h2
        font-weight: bold
        font-size: em-calc(16)
      p
        margin: 0

    &-body
      @include media($from-small)
        padding-left: em-calc(16)
        padding-right: em-calc(16)

      @include media(max-width $to-medium)
        order: 3
        width: 100%
        margin-top: em-calc(16)
      
      @include media($from-medium)
        width: (100% / 3)
      
      p
        margin: 0
        
      a
        border-bottom: rem-calc(1) solid
        transition: border 150ms

        &:hover
          border-color: transparent
        
      .stage-1
        display: inline
        .single__content--opened &
          display: none
      .stage-2
        display: none
        .single__content--opened &
          display: inline

    &-nav
      text-align: right

      @include media($from-small)
        padding-left: em-calc(16)
        padding-right: em-calc(16)

      @include media(max-width $to-medium)
        order: 2
        width: (100% / 2)

      @include media($from-medium)
        width: (100% / 3)

      p
        margin: 0
        
      a
        transition: border 150ms
        border-bottom: rem-calc(1) solid

        &:hover
          border-color: transparent

    &-more
      height: 0
      overflow: hidden
      opacity: 0
      transition: opacity 500ms ease-in-out

      @include media($from-small)
        display: flex
        flex-wrap: wrap
        width: 100%

      @include media(max-width $to-medium)
        order: 4

      .single__content--opened &
        height: auto
        opacity: 1

      a
        border-bottom: rem-calc(1) solid
        transition: border 150ms

        &:hover
          border-color: transparent

      &-1,
      &-2
        @include media($from-small)
          padding-left: em-calc(16)
          padding-right: em-calc(16)

        @include media(max-width $to-small)
          width: 100%

        @include media(max-width $to-medium)
          width: (100% / 2)

        @include media($from-medium)
          width: (100% / 3)
